
body {
  font-family: sans-serif;
       }

#quiz {
  width: 360px;
  margin: 0 0 15px 0;
  padding: 0;
}
#quiz ul {
  display: block;
  background-color: #44b7fc;
  padding: 10px;
  border-bottom: 1px solid #fff;
  cursor: move;
  border-radius: 4px
}
#quiz ul.sortable-chosen {
  background-color: lightslategray;
}

.floatRight{float:right;margin-left:10px;max-width: 22%;max-height: 22%;}

.button {
  background-color: #1C91D7; 
  border: none;
  color: white;
  padding: 14px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  margin-right: 3px;
  margin-top: 7px;
}
.button:hover {
  background-color: RoyalBlue;
}
.startbutton {
  display:block; margin-left:auto; margin-right:auto; /*center*/
  background-color: #e69232;
  border: none;
  color: white;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 25px;
  margin-bottom: 30px;
  text-decoration: none;
}

.startbutton:hover {
  background-color: rgb(177, 115, 0);
}


/* Style download buttons */
.btn {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 25px;
  cursor: pointer;
  font-size: 16px;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}